<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/invest">Investment</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/cars">Cars</a></li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>